.logo__img {
  max-height: 100%;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .logo__img {
    padding: 5px 0;
  }
}

@media screen and (min-width: 992px) {
  .logo__img {
    padding: 5px;
  }
}